h1 {
    text-align: center;

}

.s1 {
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
}

.s1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
}